name: Build & publish Docker image

on:
  push:
    tags:
      - 'v*' # build only when a tag is pushed

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: wearejust/docker-ci

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Log in to GHCR
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build & push
        run: |
          docker build -t $REGISTRY/${{ env.IMAGE_NAME }}:${{ github.ref_name }} .
          docker push  $REGISTRY/${{ env.IMAGE_NAME }}:${{ github.ref_name }}

      - name: Tag latest (optional)
        if: startsWith(github.ref, 'refs/tags/v')
        run: |
          docker tag $REGISTRY/${{ env.IMAGE_NAME }}:${{ github.ref_name }} \
                     $REGISTRY/${{ env.IMAGE_NAME }}:latest
          docker push $REGISTRY/${{ env.IMAGE_NAME }}:latest
